.bottom-menu {
  display: flex;
  width: 50%;
  z-index: 2;
  margin: auto;
  justify-content: space-between;
  max-width: 450px;
}

@media screen and (max-width: 500px) {
  .bottom-menu {
    width: 80%;
  }
}
