.form-button {
  display: grid;
  place-items: center;
  padding: 10px;
  border: 0;
  border-radius: 0.5rem;
  width: 25%;
  margin: 5px;

  background: #1f9aff;
  color: #ffde06;
  z-index: 2;
  transition: all 1s;

  &:hover {
    background: #ffde06;
    color: #1f9aff;
  }
}
