header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
  background: rgb(0, 0, 0);
  width: 40%;
  margin: 0 auto;
  z-index: 2;

  img {
    width: 100%;
    height: auto;
    z-index: 2;
  }
}

@media screen and (max-width: 740px) {
  header {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  header {
    width: 100%;
  }
}
