.modal-fade {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 3;

  .preview-button {
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0;
  }

  .modal-container {
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    background-color: #f5f5f5;
    z-index: 4;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    .modal-title {
      color: #1f9aff;
      font-size: 2.5rem;
      font-weight: 700;
    }

    .form-item::placeholder {
      color: #d4d4d4;
    }

    .form-item {
      border-radius: 0.5rem;
      padding: 0.5rem;
      border-style: none;
      margin: 0.5rem 0;
      height: 2.5rem;
      width: 80%;
      color: #1f9aff;
    }

    .form-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
