.navigate {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto 0;
  z-index: 2;
}

@media screen and (max-width: 740px) {
  .navigate {
    justify-content: space-between;
  }
}
