.round-button {
  display: grid;
  place-items: center;
  padding: 10px;
  border: 0;
  border-radius: 1rem;

  background: none;
  color: #ffde06;
  z-index: 2;
  transition: background 0.75s;

  &:hover {
    background: rgba(58, 58, 58, 0.5);
  }
}
